services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1.0.2
    container_name: mongo-express
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb
    depends_on:
      - mongodb

  backend:
    image: hostel-backend:latest
    container_name: hostel_backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGODB_URI: mongodb://admin:password@mongodb:27017/hostelhub?authSource=admin
      JWT_SECRET: devsecret
    depends_on:
      - mongodb

  frontend:
    image: hostel-frontend:latest
    container_name: hostel_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo_data:
